# Proceso de comprensión y preparación de datos

## Recogida, comprensión y evaluación de calidad de datos
Un problema que se identificó a priori es que el tipo de dato de SDG en el test set es float, cuando debería ser int. Por otro lado, hay muchos caracteres especiales que deben ser tratados.

In [9]:
import pandas as pd
import re

file1 = 'ODScat_345.csv' 
file2 = 'TestODScat_345.csv'  

df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)

# Functions
def find_unusual_characters(df, column_name):
    all_text = ' '.join(df[column_name].astype(str))
    unusual_chars = re.findall(r'[^\w\s,.!?;:\-()\'"]', all_text)
    return set(unusual_chars)

# Understanding
print("First few rows of training set:")
display(df1.head())

print("First few rows of test set:")
display(df2.head())

print("\nShape of training set:", df1.shape)

print("Shape of validation set:", df2.shape)

print("\nInfo for training set:")
df1.info()
print("\nInfo for validation set:")
df2.info()

print("\nDescriptive statistics for training set:")
display(df1.describe(include='all')) 

print("\nDescriptive statistics for validation set:")
display(df2.describe(include='all'))

print("\nBasic statistics for natural_text length in training set:")
display(df1['Textos_espanol'].str.len().describe())

print("\nBasic statistics for natural_text length in validation set:")
display(df2['Textos_espanol'].str.len().describe())

print("Distribution of SDG categories in training set:")
distribution_file1 = df1['sdg'].value_counts()
display(distribution_file1)

print("\nDistribution of SDG categories in test set:")
distribution_file2 = df2['sdg'].value_counts()
display(distribution_file2)

print("\nUnusual characters in training set:")
unusual_chars_file1 = find_unusual_characters(df1, 'Textos_espanol')
display(unusual_chars_file1)

print("\nUnusual characters in validation set:")
unusual_chars_file2 = find_unusual_characters(df2, 'Textos_espanol')
display(unusual_chars_file2)

# Consistency
print("\nColumn names in training set:", df1.columns.tolist())
print("Column names in test:", df2.columns.tolist())

print("\nData types in training set:")
display(df1.dtypes)

print("Data types in test set:")
display(df2.dtypes)

# Uniqueness
print("Checking for duplicated rows within each file...\n")

duplicates_file1 = df1[df1.duplicated()]
print(f"Number of duplicated rows in training set: {len(duplicates_file1)}")
display(duplicates_file1)

duplicates_file2 = df2[df2.duplicated()]
print(f"Number of duplicated rows in test set: {len(duplicates_file2)}")
display(duplicates_file2)

print("\nChecking for common rows between file1 and file2...")

common_rows = pd.merge(df1, df2, how='inner')
print(f"Number of common rows between file1 and file2: {len(common_rows)}")
display(common_rows)

if len(common_rows) > 0:
    print("\nCommon rows found in both files:")
    display(common_rows)
else:
    print("\nNo common rows found in both files.")

# Missing values
print("\nMissing values in training set:")
display(df1.isnull().sum())

print("Missing values in validation set:")
display(df2.isnull().sum())

# Validity
print("\nUnique labels in test set:")
display(df1['sdg'].unique())

print("Unique labels in validation set:")
display(df2['sdg'].unique())

First few rows of training set:

                                      Textos_espanol  sdg
0  Por ejemplo, el nÃºmero de consultas externas ...    3
1  En 2007, el gobierno central financió directam...    3
2  Claramente, hay muchos otros factores en juego...    3
3  Por ejemplo, el estado australiano de Victoria...    3
4  El consumo anual de alcohol se estima en 15,7 ...    3

First few rows of test set:

                                      Textos_espanol  sdg
0   Han examinado la contribuciÃ³n de las univers...  NaN
1  En la última década, y en particular desde 201...  NaN
2  ¿En qué países los estudiantes de alto rendimi...  NaN
3  A raíz de su preocupación por el hecho de que ...  NaN
4  1999|H5|, Ares Abalde, 2014[ij]. El pequeño nú...  NaN

Shape of training set: (4049, 2)
Shape of validation set: (702, 2)

Info for training set:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4049 entries, 0 to 4048
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Textos_espanol  4049 non-null   object
 1   sdg             4049 non-null   int64
dtypes: int64(1), object(1)
memory usage: 63.4+ KB

Info for validation set:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Textos_espanol  702 non-null    object
 1   sdg             0 non-null      float64
dtypes: float64(1), object(1)
memory usage: 11.1+ KB

Descriptive statistics for training set:

                                           Textos_espanol          sdg
count                                                4049  4049.000000
unique                                               4049          NaN
top     Las áreas útiles para un mayor estudio y acció...          NaN
freq                                                    1          NaN
mean                                                  NaN     4.051124
std                                                   NaN     0.814338
min                                                   NaN     3.000000
25%                                                   NaN     3.000000
50%                                                   NaN     4.000000
75%                                                   NaN     5.000000
max                                                   NaN     5.000000

Descriptive statistics for validation set:

                                           Textos_espanol  sdg
count                                                 702  0.0
unique                                                702  NaN
top     Varios municipios describieron cómo trabajaron...  NaN
freq                                                    1  NaN
mean                                                  NaN  NaN
std                                                   NaN  NaN
min                                                   NaN  NaN
25%                                                   NaN  NaN
50%                                                   NaN  NaN
75%                                                   NaN  NaN
max                                                   NaN  NaN

Basic statistics for natural_text length in training set:

count    4049.000000
mean      699.632502
std       228.988965
min       294.000000
25%       531.000000
50%       657.000000
75%       827.000000
max      1513.000000
Name: Textos_espanol, dtype: float64

Basic statistics for natural_text length in validation set:

count     702.000000
mean      693.564103
std       219.593226
min       338.000000
25%       515.250000
50%       665.500000
75%       836.500000
max      1468.000000
Name: Textos_espanol, dtype: float64

Distribution of SDG categories in training set:

sdg
5    1451
4    1354
3    1244
Name: count, dtype: int64

Distribution of SDG categories in test set:

Series([], Name: count, dtype: int64)

Unusual characters in training set:

{'#',
 '$',
 '%',
 '&',
 '*',
 '+',
 '/',
 '<',
 '=',
 '>',
 '@',
 '[',
 ']',
 '{',
 '|',
 '~',
 '¡',
 '¢',
 '£',
 '©',
 '«',
 '®',
 '°',
 '±',
 '»',
 '¿',
 '˜',
 '\u200b',
 '–',
 '—',
 '’',
 '“',
 '”',
 '…',
 '€',
 '™'}

Unusual characters in validation set:

{'$',
 '%',
 '&',
 '*',
 '+',
 '/',
 '@',
 '[',
 '\\',
 ']',
 '|',
 '¡',
 '©',
 '«',
 '±',
 '»',
 '¿',
 '˜',
 '\u200b',
 '—',
 '“',
 '”',
 '€',
 '™'}

Column names in training set: ['Textos_espanol', 'sdg']
Column names in test: ['Textos_espanol', 'sdg']

Data types in training set:

Textos_espanol    object
sdg                int64
dtype: object

Data types in test set:

Textos_espanol     object
sdg               float64
dtype: object

Checking for duplicated rows within each file...

Number of duplicated rows in training set: 0

Empty DataFrame
Columns: [Textos_espanol, sdg]
Index: []

Number of duplicated rows in test set: 0

Empty DataFrame
Columns: [Textos_espanol, sdg]
Index: []

Checking for common rows between file1 and file2...
Number of common rows between file1 and file2: 0

Empty DataFrame
Columns: [Textos_espanol, sdg]
Index: []

No common rows found in both files.

Missing values in training set:

Textos_espanol    0
sdg               0
dtype: int64

Missing values in validation set:

Textos_espanol      0
sdg               702
dtype: int64

Unique labels in test set:

array([3, 4, 5])

Unique labels in validation set:

array([nan])

## Tranformación de datos

### Limpieza inicial del texto
Al final quedan los tokens almacenados en el DF.

In [10]:
import unicodedata
import nltk
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.snowball import SnowballStemmer

nltk.download('stopwords')
nltk.download('punkt')
nltk.download('punkt_tab')
stop_words = set(stopwords.words('spanish'))
stemmer = SnowballStemmer("spanish")

def clean_text(text):
    text = text.lower()
    text = re.sub(r'[^\w\s]', '', text)
    text = re.sub(r'\d+', '', text)
    text = unicodedata.normalize('NFKD', text)
    text = ''.join([c for c in text if not unicodedata.combining(c)])
    word_tokens = word_tokenize(text)
    filtered_words = [word for word in word_tokens if word.lower() not in stop_words]
    stems = [stemmer.stem(word) for word in filtered_words]
    return ' '.join(stems)

df2['sdg'] = 0

df1['Textos_espanol'] = df1['Textos_espanol'].apply(clean_text)
df2['Textos_espanol'] = df2['Textos_espanol'].apply(clean_text)

df1.sample(10)

[nltk_data] Downloading package stopwords to /home/socub/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/socub/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to /home/socub/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

                                         Textos_espanol  sdg
1669  tutori carrer disen apoy estudi consecucion ob...    4
2639  adem principal distincion sigi centr derech as...    5
1673  tambi detall conjunt integral polit practic ed...    4
739   estudi cohort rein unid proporcion evident vin...    3
2443  destac mayor cost oportun hij pronunci estrati...    5
2647  menud derech herenci viud reflej principi prop...    5
3011  curs financi tas regul mas elev crec numer aun...    4
2366  reduccion porcentaj afili sindicatosasoci trab...    5
1125  cambi cre mayor sinergi interaccion formacion ...    4
868   ecuador haiti nicaragu paraguay ejempl gast pu...    3

### Vectorización del texto

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer()

X_tfidf_1 = tfidf_vectorizer.fit_transform(df1['Textos_espanol'])
X_tfidf_2 = tfidf_vectorizer.transform(df2['Textos_espanol'])

tfidf_df_1 = pd.DataFrame(X_tfidf_1.toarray(), columns=tfidf_vectorizer.get_feature_names_out())
tfidf_df_2 = pd.DataFrame(X_tfidf_2.toarray(), columns=tfidf_vectorizer.get_feature_names_out())

tfidf_df_1.sample(10)

,_par,a3ptim,a3rgan,aaad,aaadia3,aalt,aalton,aao,aaon,aaos,...,zogl,zoles,zoll,zomb,zon,zonmw,zuck,zukowski,zupanc,zusatzentgelt
2805,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0
601,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0
3874,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0
250,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.29168,0.0,0.0,0.0,0.0,0.0
4007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0
2016,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0
1477,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0
1428,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0
3910,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0
3390,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0

# Modelo y evaluación

In [21]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

y_train = df1['sdg']

clf = RandomForestClassifier(n_estimators=100, random_state=42)

clf.fit(tfidf_df_1, y_train)

# Testing the model with tfidf_df_2
# Example: Predict the label for the first text in tfidf_df_2
sample_index = 0
sample_text_vector = tfidf_df_2.iloc[sample_index].values.reshape(1, -1)
predicted_label = clf.predict(sample_text_vector)

print(f"Predicted label for the sample text: {predicted_label[0]}")

original_stems = df2['Textos_espanol'].iloc[sample_index]

original_text_str = ' '.join(original_stems)

print(f"Original list of stems for sample index {sample_index}: {original_stems}")

Predicted label for the sample text: 4
Original list of stems for sample index 0: examin contribucia3n univers institu educacia3n terciari desarroll capital human competent transferent tecnologa innovacia3n empresarial desarroll social cultural medioambiental creacia3n capac regional proces revisia3n facilit creacia3n asoci ciudad region reun institu educacia3n terciari organ paoblic priv identific objet estratag trabaj junt alcanz complement revision llev cab region transfronteriz mexicoest unid gran import estrateg econom nuev leon region pas nort mas recient sur arizon junt sonor
Original text string for vectorization: e x a m i n   c o n t r i b u c i a 3 n   u n i v e r s   i n s t i t u   e d u c a c i a 3 n   t e r c i a r i   d e s a r r o l l   c a p i t a l   h u m a n   c o m p e t e n t   t r a n s f e r e n t   t e c n o l o g a   i n n o v a c i a 3 n   e m p r e s a r i a l   d e s a r r o l l   s o c i a l   c u l t u r a l   m e d i o a m b i e n t a l   c r e a c i a 3 n   c a p a c   r e g i o n a l   p r o c e s   r e v i s i a 3 n   f a c i l i t   c r e a c i a 3 n   a s o c i   c i u d a d   r e g i o n   r e u n   i n s t i t u   e d u c a c i a 3 n   t e r c i a r i   o r g a n   p a o b l i c   p r i v   i d e n t i f i c   o b j e t   e s t r a t a g   t r a b a j   j u n t   a l c a n z   c o m p l e m e n t   r e v i s i o n   l l e v   c a b   r e g i o n   t r a n s f r o n t e r i z   m e x i c o e s t   u n i d   g r a n   i m p o r t   e s t r a t e g   e c o n o m   n u e v   l e o n   r e g i o n   p a s   n o r t   m a s   r e c i e n t   s u r   a r i z o n   j u n t   s o n o r

/home/socub/Documents/U/BI/proyecto_1/env/lib/python3.11/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(