# Proceso de comprensión y preparación de datos

## Recogida, comprensión y evaluación de calidad de datos
El único problema que se identificó a priori es que el tipo de dato de SDG en el test set es float, cuando debería ser int.

In [24]:
import pandas as pd

file1 = 'ODScat_345.csv' 
file2 = 'TestODScat_345.csv'  

df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)

# Understanding
print("First few rows of training set:")
display(df1.head())

print("First few rows of test set:")
display(df2.head())

print("\nShape of training set:", df1.shape)

print("Shape of validation set:", df2.shape)

print("\nInfo for training set:")
df1.info()
print("\nInfo for validation set:")
df2.info()

print("\nDescriptive statistics for training set:")
display(df1.describe(include='all')) 

print("\nDescriptive statistics for validation set:")
display(df2.describe(include='all'))

print("\nBasic statistics for natural_text length in training set:")
display(df1['Textos_espanol'].str.len().describe())

print("\nBasic statistics for natural_text length in validation set:")
display(df2['Textos_espanol'].str.len().describe())

print("Distribution of SDG categories in training set:")
distribution_file1 = df1['sdg'].value_counts()
display(distribution_file1)

print("\nDistribution of SDG categories in test set:")
distribution_file2 = df2['sdg'].value_counts()
display(distribution_file2)

# Consistency
print("\nColumn names in training set:", df1.columns.tolist())
print("Column names in test:", df2.columns.tolist())

print("\nData types in training set:")
display(df1.dtypes)

print("Data types in test set:")
display(df2.dtypes)

# Uniqueness
print("Checking for duplicated rows within each file...\n")

duplicates_file1 = df1[df1.duplicated()]
print(f"Number of duplicated rows in training set: {len(duplicates_file1)}")
display(duplicates_file1)

duplicates_file2 = df2[df2.duplicated()]
print(f"Number of duplicated rows in test set: {len(duplicates_file2)}")
display(duplicates_file2)

print("\nChecking for common rows between file1 and file2...")

common_rows = pd.merge(df1, df2, how='inner')
print(f"Number of common rows between file1 and file2: {len(common_rows)}")
display(common_rows)

if len(common_rows) > 0:
    print("\nCommon rows found in both files:")
    display(common_rows)
else:
    print("\nNo common rows found in both files.")

# Missing values
print("\nMissing values in training set:")
display(df1.isnull().sum())

print("Missing values in validation set:")
display(df2.isnull().sum())

# Validity
print("\nUnique labels in test set:")
display(df1['sdg'].unique())

print("Unique labels in validation set:")
display(df2['sdg'].unique())

First few rows of training set:

                                      Textos_espanol  sdg
0  Por ejemplo, el nÃºmero de consultas externas ...    3
1  En 2007, el gobierno central financió directam...    3
2  Claramente, hay muchos otros factores en juego...    3
3  Por ejemplo, el estado australiano de Victoria...    3
4  El consumo anual de alcohol se estima en 15,7 ...    3

First few rows of test set:

                                      Textos_espanol  sdg
0   Han examinado la contribuciÃ³n de las univers...  NaN
1  En la última década, y en particular desde 201...  NaN
2  ¿En qué países los estudiantes de alto rendimi...  NaN
3  A raíz de su preocupación por el hecho de que ...  NaN
4  1999|H5|, Ares Abalde, 2014[ij]. El pequeño nú...  NaN

Shape of training set: (4049, 2)
Shape of validation set: (702, 2)

Info for training set:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4049 entries, 0 to 4048
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Textos_espanol  4049 non-null   object
 1   sdg             4049 non-null   int64
dtypes: int64(1), object(1)
memory usage: 63.4+ KB

Info for validation set:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Textos_espanol  702 non-null    object
 1   sdg             0 non-null      float64
dtypes: float64(1), object(1)
memory usage: 11.1+ KB

Descriptive statistics for training set:

                                           Textos_espanol          sdg
count                                                4049  4049.000000
unique                                               4049          NaN
top     Las áreas útiles para un mayor estudio y acció...          NaN
freq                                                    1          NaN
mean                                                  NaN     4.051124
std                                                   NaN     0.814338
min                                                   NaN     3.000000
25%                                                   NaN     3.000000
50%                                                   NaN     4.000000
75%                                                   NaN     5.000000
max                                                   NaN     5.000000

Descriptive statistics for validation set:

                                           Textos_espanol  sdg
count                                                 702  0.0
unique                                                702  NaN
top     Varios municipios describieron cómo trabajaron...  NaN
freq                                                    1  NaN
mean                                                  NaN  NaN
std                                                   NaN  NaN
min                                                   NaN  NaN
25%                                                   NaN  NaN
50%                                                   NaN  NaN
75%                                                   NaN  NaN
max                                                   NaN  NaN

Basic statistics for natural_text length in training set:

count    4049.000000
mean      699.632502
std       228.988965
min       294.000000
25%       531.000000
50%       657.000000
75%       827.000000
max      1513.000000
Name: Textos_espanol, dtype: float64

Basic statistics for natural_text length in validation set:

count     702.000000
mean      693.564103
std       219.593226
min       338.000000
25%       515.250000
50%       665.500000
75%       836.500000
max      1468.000000
Name: Textos_espanol, dtype: float64

Distribution of SDG categories in training set:

sdg
5    1451
4    1354
3    1244
Name: count, dtype: int64

Distribution of SDG categories in test set:

Series([], Name: count, dtype: int64)

Column names in training set: ['Textos_espanol', 'sdg']
Column names in test: ['Textos_espanol', 'sdg']

Data types in training set:

Textos_espanol    object
sdg                int64
dtype: object

Data types in test set:

Textos_espanol     object
sdg               float64
dtype: object

Checking for duplicated rows within each file...

Number of duplicated rows in training set: 0

Empty DataFrame
Columns: [Textos_espanol, sdg]
Index: []

Number of duplicated rows in test set: 0

Empty DataFrame
Columns: [Textos_espanol, sdg]
Index: []

Checking for common rows between file1 and file2...
Number of common rows between file1 and file2: 0

Empty DataFrame
Columns: [Textos_espanol, sdg]
Index: []

No common rows found in both files.

Missing values in training set:

Textos_espanol    0
sdg               0
dtype: int64

Missing values in validation set:

Textos_espanol      0
sdg               702
dtype: int64

Unique labels in test set:

array([3, 4, 5])

Unique labels in validation set:

array([nan])